body { display:flex;
        flex:auto;
    flex-wrap: wrap;
    height:800px;
    width:800px;}

.horiz { 
         width:49px;
         height: 49px;
         border: 1px solid rgb(141, 141, 141);
        }

.vert { 
         flex-direction:row;
        width:49px;
        height: 49px;
        border: 1px solid rgb(141, 141, 141);}